body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

.container {
    text-align: center;
}

.pfp1,
.pfp2 {
    width: 20%;
    display: block;
    margin: 0 auto;
    pointer-events: none;
}

.page-title,
.page-title2 {
    color: white;
    font-family: 'Helvetica', sans-serif;
}

.page-title {
    font-size: 41px;
}

.page-title2 {
    font-size: 20px;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a {
    margin-right: 20px;
    color: white;
    font-size: 35px;
}

.obitogif {
    width: 100px;
    height: auto;
    margin-top: 20px;
}
